*{
  margin: 0;
  padding: 0;
}
h1{
  color: white;
  text-shadow: 2px 2px 3px #e4fbff;
  font-family: Kaushan Script;
}
h2{
  color: white;
  font-family: Kaushan Script;
}
h3{
  color: #fbe0c4;
  font-family: Rancho;
  font-size: 15px;
}
body{
  text-align: center;
  background-color: #e4fbff;
  margin: 0 0 0 0;
}
.Container{
  text-align: center;
  height: 100%;

}
.head{
  background-color: #b8b5ff;
  padding-top: 4vh;
  padding-bottom: 4vh;
}
hr{
  background-color: #511281;
  border-radius: 5px;
}
button {
  display: block;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: #b8b5ff;
  color: white;
  border: none;
  margin: 1vh 1vh 1vh 1vh;
  cursor: pointer;
  transition: 0.8s;
}
.queTable button:hover{
  background-color: #511281;

}
.queTable{
  margin: 10px auto 10px auto;
}
#frame{
  width: 900px;
  height: 600px;
  border: none;
  margin-top: 15px;
  background-color: #ccf2f4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.8s;
}
.contact-me{
  background-color: #2978b5;
}
.bottom-container{
  background-color: #0061a8;

}
.footer-link{
  text-decoration: underline;
  color: #f8f5f1;
  font-family: Cairo;
  font-weight: bold;
}
.btn{
  text-decoration: under;
  color: #f8f5f1;
  font-family: Cairo;
  font-weight: bolder;
}
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;

}
